<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Туалетный прицеп</h2>
                    <h3 class="section-subheading text-muted">Удобство на отдыхе</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Для чего может пригодиться?</h4>
                                    <h4 class="subheading">Идеален для выездных мероприятий</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Туалет рассчитан в среднем на 150 посещений. Идеально подходит для любого мероприятия - формальные вечеринки, конференции, выставки, выездные свадьбы, автомобильные гонки, спортивные мероприятия, фестивали и многое другое.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Услуга не заказана?</h4>
                                    <h4 class="subheading">Рады помочь в организации удобств</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Наши туалетные прицепы доступны как для краткосрочной, так и для долгосрочной аренды. Всегда рады помочь вам в организации VIP-туалета на вашем мероприятии. По всем интересующим вопросам ответим по телефону +7 (919) 10-666-44</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Happy
                                    <br>don't
                                    <br>Worry!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>