<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Сервис</h2>
                    <h3 class="section-subheading text-muted">Туалет. VIP. Туалетный прицеп. Свадьба. Вечеринка. День рождения. Автогонки. Фестиваль.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Комфорт</h4>
                    <p class="text-muted">Скоро важное мероприятие на открытом воздухе? Необходимо создать комфортные условия для времяпрепровождения? Аренда туалетного прицепа - отличное решение, которое обеспечит комфорт и удобство для ваших гостей! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Удобство</h4>
                    <p class="text-muted">Эта услуга позволяет обеспечить необходимый сервис для всех участников и гостей, а также помогает создать приятное впечатление об организаторах мероприятия. VIP- туалет привлекателен своей конструкцией и мобильностью, его можно разместить практически в любом месте. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Стиль</h4>
                    <p class="text-muted">Внутренняя отделка - из композитных панелей с более чем 20-ти вариантов светодиодной подсветки, что делает туалет стильным и элегантным. Сантехника класса люкс, горячая и холодная вода, слив бочка,  дозатор жидкого мыла. Все это оставит приятные ощущения у посетителей. </p>
                </div>
            </div>
        </div>
    </section>